body {
    font-family: 'Roboto', sans-serif;
    background-image: url(skys.jpg); /* Multiple backgrounds */
    background-size: cover; /* Optional: Makes the image cover the entire body */
    background-repeat: no-repeat; /* Optional: Prevents the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    color: #333;
    width: 98%;
    height: 90%;
}

.container {
    background-color: rgba(198, 235, 238, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center the content */
}

.search-box {
    margin-bottom: 20px;
    display: flex;  /* Use flexbox for layout */
}

#cityInput {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px; /* Round only the left corners */
    flex-grow: 1; /* Allow input to expand */
}

#searchButton {
    padding: 10px 15px;
    border: none;
    border-radius: 0 5px 5px 0; /* Round only the right corners */
    background-color: #4CAF50; /* Green button */
    color: white;
    cursor: pointer;
}

.weather-info {
  display: none; /* Initially hide the weather info */
  margin-top: 20px; /* Add some space above the weather info */
}

.city-name, .temperature, .weather-description, .humidity, .wind, .date, .icon {
    margin-bottom: 10px;
}

.temperature {
    font-size: 2em;
    font-weight: bold;
}

.icon img { /* Style the weather icon */
    width: 100px; /* Adjust as needed */
    height: 100px;
    margin-top: 10px;
}

/* Responsive adjustments (example) */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    .temperature {
        font-size: 1.5em;
    }
}
footer {
    background-color: hsl(198, 56%, 53%);
    color: #fff;
    padding: 12px;
    margin: 0;
    height: 23px;
    box-shadow: none;
    
    width: 96%;
    border-radius: 20px;
    text-align: center;
    

position: fixed;
bottom: 0;

}

.footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center; /* Center horizontally */
    gap: 10px; 
}

.copyright {
    font-size: larger;
}

.copyright a {
    color: #dfe8e3;
    text-decoration: none;
    margin: 0 5px;
}

/* Responsive design - Horizontal on larger screens */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-around; /* Distribute space */
        align-items: center; /* Vertically center on larger screens */
    }
}